a {
    --link-color: var(--color-primary-dark);
    --link-hover-color: var(--color-primary);
    --link-disabled-color: var(--color-primary-light);
    --link-border-radius: var(--3px);
    color: var(--link-color);
    border-radius: var(--link-border-radius);
    text-decoration: none;
    &:hover {
        color: var(--link-hover-color);
        text-decoration: revert;
        cursor: pointer;
        * {
            cursor: pointer;
        }
    }
    &.disabled {
        color: var(--link-disabled-color);
    }
}
.disabled a,
:disabled a,
[disabled] a {
    color: var(--link-disabled-color);
}
