html:has(dialog[open].modal) {
    overflow: hidden;
}
.dialog,
.vts-dialog {
    --dlg-backdrop: hsla(0 0% 0% / 0.2);
    --dlg-border-radius: var(--border-radius-large);
    --dlg-border: var(--1px) solid var(--black-20);
    --dlg-background: var(--black-0);
    --dlg-content-background: var(--black-0);
    --dlg-window-background: var(--black-2);
    --dlg-window-content-background: var(--black-2);
    --dlg-padding: var(--base-size);
    --dlg-content-padding: 0;
    --dlg-focused: var(--1px) var(--5px) var(--20px) calc(-1 * var(--2px)) hsla(0 0% 0% / 0.25);
    --dlg-resizer-size: var(--6px);
    /*
     * Setting `display: flex;` instead of `block` seems unnecessary but it is a simple way to force
     * `.content` to fill the entire dialog and also to auto adjust its height to the height of its
     * content. This fixes a problem in WebKit where setting `height: 100%;` for `.content` (which
     * would be the 'natural' way) doesn't work properly (why?). This could be fixed by setting
     * `display: table;` for `.content` but this makes it unnecessarily difficult to layout the
     * content box.
     */
    display: flex;
    flex-direction: column;
    inset-block-start: 0;
    inset-block-end: 0;
    width: fit-content;
    height: fit-content;
    /*
     * !! `min-width`/`min-height` should always be adapted to the size of the respective dialog.
     * They also __must__ be given as a _numeric_ CSS values, otherwise resizing the dialog doesn't
     * work properly!.
     */
    min-width: 5rem;
    min-height: 5rem;
    overflow: hidden;
    margin: 0;
    padding: var(--dlg-padding);
    border-radius: var(--dlg-border-radius);
    border: var(--dlg-border);
    background: var(--dlg-background);
    outline: none;
    &::backdrop {
        position: fixed;
        inset: 0;
        background: transparent;
    }
    &.modal-dialog-first::backdrop {
        background: var(--dlg-backdrop);
    }
    &:focus,
    &:focus-within {
        box-shadow: var(--dlg-focused);
    }
    /* Alternative dialog windows and content. */
    &.dialog-window {
        background: var(--dlg-window-background);
        > .content {
            background: var(--dlg-window-content-background);
        }
    }
    > .content {
        background: var(--dlg-content-background);
        position: relative;
        flex-grow: 1;
        /* overflow: hidden; */
        padding: var(--dlg-content-padding);
        /* Moving. */
        /* Inner content container. */
        &.move-handle,
        /* Custom move handle. */
        .custom-move-handle,
        .custom-move-handle * {
            cursor: move;
        }
    }
    /* #region Resizers. */
    > [class*="rs-"] {
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: transparent;
        z-index: 1000;
    }
    > [class*="rs-n"] {
        top: 0;
    }
    > .rs-ne,
    > .rs-e,
    > .rs-se {
        right: 0;
    }
    > [class*="rs-s"] {
        bottom: 0;
    }
    > .rs-sw,
    > .rs-w,
    > .rs-nw {
        left: 0;
    }
    > [class*="rs-n"],
    > [class*="rs-s"] {
        height: var(--dlg-resizer-size);
    }
    > .rs-ne,
    > .rs-e,
    > .rs-se,
    > .rs-sw,
    > .rs-w,
    > .rs-nw {
        width: var(--dlg-resizer-size);
    }
    > .rs-n,
    > .rs-s {
        left: var(--dlg-resizer-size);
        right: var(--dlg-resizer-size);
    }
    > .rs-e,
    > .rs-w {
        top: var(--dlg-resizer-size);
        bottom: var(--dlg-resizer-size);
    }
    > .rs-n {
        cursor: row-resize;
    }
    > .rs-ne {
        cursor: nesw-resize;
    }
    > .rs-e {
        cursor: col-resize;
    }
    > .rs-se {
        cursor: nwse-resize;
    }
    > .rs-s {
        cursor: row-resize;
    }
    > .rs-sw {
        cursor: nesw-resize;
    }
    > .rs-w {
        cursor: col-resize;
    }
    > .rs-nw {
        cursor: nwse-resize;
    }
    /* #endregion */
    /* Other classes. */
    /*
    Set depending on the state of `HCentered`/`VCentered`.
    &.h-centered:not(.v-centered) {}
    &.v-centered:not(.h-centered) {}
    &.v-centered.h-centered {}
    &:not(.v-centered):not(.h-centered) {}
    */
    /* Set if the dialog is shown modal. */
    /* &.modal {} */
    /* Set if the dialog is shown non-modal. */
    /* &.non-modal {} */
    /** Present on movable dialogs. */
    /* &.movable {} */
    /** Set on holding down the pointer; removed on the first move. */
    /* &.move-start {} */
    /** Set while moving the dialog; removed when the pointer goes up. */
    /* &.moving {} */
    /** Set permanently after the dialog has been moved at least once. */
    /* &.moved {} */
    /** Present on resizable dialogs. */
    /* &.resizable {} */
    /** Set on holding down the pointer on a resize handle; removed on the first resize. */
    /* &.resize-start {} */
    /** Set while resizing the dialog; removed when the pointer goes up. */
    /* &.resizing {} */
    /** Set permanently after the dialog has been resized at least once. */
    /* &.resized {} */
    /* Never change/remove this class nor its rules! */
    &.--calc-size {
        visibility: hidden !important;
    }
}
