meter {
    /* #region Common */
    --meter-size: var(--10px);
    --meter-background: var(--black-5);
    --meter-background-disabled: var(--black-5);
    --meter-indicator-background-optimum: var(--color-success);
    --meter-indicator-background-suboptimum: var(--color-caution-darker);
    --meter-indicator-background-even-less-good: var(--color-warn-darker);
    --meter-indicator-background-optimum-disabled: hsl(from var(--meter-indicator-background-optimum) h calc(s - 45) calc(l + 30));
    --meter-indicator-background-suboptimum-disabled: hsl(from var(--meter-indicator-background-suboptimum) h calc(s - 35) calc(l + 15));
    --meter-indicator-background-even-less-good-disabled: hsl(from var(--meter-indicator-background-even-less-good) h calc(s - 35) calc(l + 15));
    --meter-border-width: var(--1px);
    --meter-border: var(--meter-border-width) solid var(--black-10);
    --meter-border-radius: var(--border-radius-pill);
    --meter-box-shadow: inset 0 var(--1px) var(--4px) var(--black-10);
    --meter-box-shadow-disabled: inset 0 var(--1px) var(--4px) var(--black-10);
    /* Blink does not render the meter with 'appearance: none'. */
    appearance: auto;
    @supports (-moz-appearance: none) {
        appearance: none;
    }
    @supports (-webkit-touch-callout: none) {
        /* WebKit requires this to expose the meter pseudo-elements. */
        appearance: none;
    }
    margin: 0;
    padding: 0;
    block-size: var(--meter-size);
    background: var(--meter-background);
    border: var(--meter-border);
    border-radius: var(--meter-border-radius);
    box-shadow: var(--meter-box-shadow);
    overflow: hidden;
    &.horizontal {
        writing-mode: horizontal-tb;
        /* 'width' should be set somewhere else */
    }
    &.vertical {
        &:dir(ltr) {
            writing-mode: sideways-lr;
        }
        &:dir(rtl) {
            writing-mode: sideways-rl;
        }
        /* 'height' should be set somewhere else */
    }
    /* #endregion */
    /* #region WebKit/Blink */
    &::-webkit-meter-bar {
        block-size: calc(var(--meter-size) - 2 * var(--meter-border-width));
        background: var(--meter-background);
        border-radius: var(--meter-border-radius);
        box-shadow: var(--meter-box-shadow);
    }
    &::-webkit-meter-optimum-value {
        background: var(--meter-indicator-background-optimum);
        border-radius: var(--meter-border-radius);
    }
    &::-webkit-meter-suboptimum-value {
        background: var(--meter-indicator-background-suboptimum);
        border-radius: var(--meter-border-radius);
    }
    &::-webkit-meter-even-less-good-value {
        background: var(--meter-indicator-background-even-less-good);
        border-radius: var(--meter-border-radius);
    }
    &.disabled,
    &[disabled] {
        &::-webkit-meter-bar {
            background: var(--meter-background-disabled);
            box-shadow: var(--meter-box-shadow-disabled);
        }
        &::-webkit-meter-optimum-value {
            background: var(--meter-indicator-background-optimum-disabled);
        }
        &::-webkit-meter-suboptimum-value {
            background: var(--meter-indicator-background-suboptimum-disabled);
        }
        &::-webkit-meter-even-less-good-value {
            background: var(--meter-indicator-background-even-less-good-disabled);
        }
    }
    /* #endregion */
    /* #region Gecko */
    &:-moz-meter-optimum::-moz-meter-bar {
        background: var(--meter-indicator-background-optimum);
        border-radius: var(--meter-border-radius);
    }
    &:-moz-meter-sub-optimum::-moz-meter-bar {
        background: var(--meter-indicator-background-suboptimum);
        border-radius: var(--meter-border-radius);
    }
    &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
        background: var(--meter-indicator-background-even-less-good);
        border-radius: var(--meter-border-radius);
    }
    &.disabled,
    &[disabled] {
        background: var(--meter-background-disabled);
        box-shadow: var(--meter-box-shadow-disabled);
        &:-moz-meter-optimum::-moz-meter-bar {
            background: var(--meter-indicator-background-optimum-disabled);
        }
        &:-moz-meter-sub-optimum::-moz-meter-bar {
            background: var(--meter-indicator-background-suboptimum-disabled);
        }
        &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
            background: var(--meter-indicator-background-even-less-good-disabled);
        }
    }
    /* #endregion */
}
.disabled meter,
:disabled meter,
[disabled] meter {
    /* #region WebKit/Blink */
    &::-webkit-meter-bar {
        background: var(--meter-background-disabled);
        box-shadow: var(--meter-box-shadow-disabled);
    }
    &::-webkit-meter-optimum-value {
        background: var(--meter-indicator-background-optimum-disabled);
    }
    &::-webkit-meter-suboptimum-value {
        background: var(--meter-indicator-background-suboptimum-disabled);
    }
    &::-webkit-meter-even-less-good-value {
        background: var(--meter-indicator-background-even-less-good-disabled);
    }
    /* #endregion */
    /* #region Gecko */
    background: var(--meter-background-disabled);
    box-shadow: var(--meter-box-shadow-disabled);
    &:-moz-meter-optimum::-moz-meter-bar {
        background: var(--meter-indicator-background-optimum-disabled);
    }
    &:-moz-meter-sub-optimum::-moz-meter-bar {
        background: var(--meter-indicator-background-suboptimum-disabled);
    }
    &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
        background: var(--meter-indicator-background-even-less-good-disabled);
    }
    /* #endregion */
}
