/*
__Note:__ This CSS uses CSS variables defined in `Input.css` (`--input-*`) to achieve a consistent
style for native DOM input elements. `Input.css` has to be included in order to make the styling
here work correctly.
*/
select {
    --select-inline-padding: var(--9px) var(--22px);
    --select-multiple-padding: var(--6px);
    --select-button: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><rect width="24" height="24" style="stroke: none; fill: hsl(216, 92%, 63%); stroke-width: 0px;" rx="7" ry="7"/><polyline points="7.5 9.5 12 5 16.5 9.5" style="stroke: hsl(0, 0%, 100%);"/><polyline points="7.5 14.5 12 19 16.5 14.5" style="stroke: hsl(0, 0%, 100%);"/></svg>');
    --select-button-disabled: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><rect width="24" height="24" style="stroke: none; fill: hsl(216, 92%, 73%); stroke-width: 0px;" rx="7" ry="7"/><polyline points="7.5 9.5 12 5 16.5 9.5" style="stroke: hsl(0, 0%, 100%);"/><polyline points="7.5 14.5 12 19 16.5 14.5" style="stroke: hsl(0, 0%, 100%);"/></svg>');
    --select-button-active: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><rect width="24" height="24" style="stroke: none; fill: hsl(216, 92%, 58%); stroke-width: 0px;" rx="7" ry="7"/><polyline points="7.5 9.5 12 5 16.5 9.5" style="stroke: hsl(0, 0%, 100%);"/><polyline points="7.5 14.5 12 19 16.5 14.5" style="stroke: hsl(0, 0%, 100%);"/></svg>');
    height: var(--input-height);
    margin: 0;
    padding: 0;
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    border-bottom: var(--input-border-dark);
    background: var(--input-background);
    font-size: 1rem;
    color: var(--font-color);
    &.disabled,
    &:disabled {
        color: var(--font-disabled-color);
        border: var(--input-disabled-border);
        border-bottom: var(--input-disabled-border-dark);
        background: var(--input-disabled-background);
    }
    &[multiple] {
        height: auto;
        padding: var(--select-multiple-padding);
        overflow: auto;
        scrollbar-width: thin;
    }
    &:not([multiple]) {
        appearance: none;
        background: var(--select-button), linear-gradient(to bottom, var(--input-background), var(--input-background));
        &.disabled,
        &:disabled {
            background: var(--select-button-disabled), linear-gradient(to bottom, var(--input-background), var(--input-background));
        }
        &:active {
            background: var(--select-button-active), linear-gradient(to bottom, var(--input-background), var(--input-background));
        }
    }
    &:not([multiple]),
    &:not([multiple]):active,
    &:not([multiple]).disabled,
    &:not([multiple]):disabled {
        background-repeat: no-repeat, no-repeat;
        background-position: right var(--2px) top 50%, 0 0;
        &:dir(rtl) {
            background-position: left var(--2px) top 50%, 0 0;
        }
        background-size: var(--16px) auto, 100%;
        padding-inline: var(--select-inline-padding);
        /* See `Vars.css` */
        /* padding-block: var(--text-input-block-padding); */
    }
    &:autofill {
        &:hover,
        &:focus,
        &:active,
        &.disabled,
        &:disabled,
        &.disabled:hover,
        &:disabled:hover,
        &.disabled:focus,
        &:disabled:focus,
        &.disabled:active,
        &:disabled:active {
            background-clip: text;
            -webkit-background-clip: text;
            transition: background-color 5000s ease-in-out 0s;
        }
        &:hover,
        &:focus,
        &:active {
            color: var(--font-color) !important;
            -webkit-text-fill-color: var(--font-color);
            background: var(--input-background) !important;
            box-shadow: inset 0 0 0 1000px var(--input-background) !important;
        }
        &.disabled,
        &:disabled,
        &.disabled:hover,
        &:disabled:hover,
        &.disabled:focus,
        &:disabled:focus,
        &.disabled:active,
        &:disabled:active {
            color: var(--font-disabled-color) !important;
            -webkit-text-fill-color: var(--font-disabled-color);
            background: var(--input-disabled-background) !important;
            box-shadow: inset 0 0 0 1000px var(--input-disabled-background) !important;
        }
        &:disabled::selection {
            background: transparent;
        }
        &:focus {
            box-shadow: var(--input-focused) !important;
        }
    }
}
