/**
 * __Important note:__ The implementation of the splitter component is partially bound to this CSS.
 * - It is assumed that `margin`, `padding` and `border-width` of the elements `start` and `end` are
 *   always `0`! Any design that relies on margins, paddings or border styles for the _content_ of
 *   the splitter must therefore only be done by designing the parts _contained_ in `start`/`end`.
 * - The names of the animations for collapsing/uncollapsing the splitter parts (see below) are
 *   mandatory since the splitter listens for the end of them and then sets/removes class names. If
 *   collapsing/uncollapsing has to be done without animations, simply set
 *   `--splitter-collapse-duration` to `0`.
 * - The variables `--splitter-collapsed-start-size` and `--splitter-collapsed-end-size` are used in
 *   the code of the splitter component, therefore these variables must not be removed or renamed.
 */
.splitter,
.vts-splitter {
    --splitter-handle: var(--black-20);
    --splitter-handle-size: var(--1px);
    --splitter-handle-bleed: var(--4px);
    --splitter-handle-bleed-size-neg: calc(-1 * var(--splitter-handle-bleed));
    --splitter-handle-bleed-border: var(--splitter-handle-bleed) solid transparent;
    --splitter-collapse-duration: 0.16s;
    --splitter-collapse-easing: ease;
    --splitter-collapse-animation: var(--splitter-collapse-duration) var(--splitter-collapse-easing) forwards;
    display: flex;
    flex-wrap: nowrap;
    /* Marker class for splitters whose `ActiveAreaSize` is absolute (not a percentage value). */
    /* &.fixed {} */
    > .start,
    > .handle,
    > .end {
        position: relative;
        margin: 0;
        padding: 0;
    }
    > .start,
    > .end {
        flex-grow: 1;
    }
    &.active-area-start > .start,
    &.active-area-end > .end {
        flex-grow: 0;
        flex-shrink: 0;
    }
    > .handle {
        flex-shrink: 0;
        flex-grow: 0;
        z-index: 1;
        touch-action: none;
        > div {
            background: var(--splitter-handle);
        }
    }
    &.start-collapsed0 > .start {
        display: none;
    }
    &.end-collapsed0 > .end {
        display: none;
    }
    &.horizontal {
        flex-direction: row;
        > .handle {
            margin-inline-start: var(--splitter-handle-bleed-size-neg);
            margin-inline-end: var(--splitter-handle-bleed-size-neg);
            border-inline-start: var(--splitter-handle-bleed-border);
            border-inline-end: var(--splitter-handle-bleed-border);
            cursor: col-resize;
            > div {
                width: var(--splitter-handle-size);
                height: 100%;
                cursor: col-resize;
            }
        }
        /* #region Collapsing */
        /* #region Collapse start */
        &.start-collapsing > .start,
        &.start-uncollapsing > .start {
            min-width: 0 !important;
            overflow-x: hidden;
        }
        &.start-collapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) hsplitter-to-0;
            }
        }
        &.start-collapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) hsplitter-to-100;
            }
        }
        &.start-uncollapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) hsplitter-from-0-to-previous;
            }
        }
        &.start-uncollapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) hsplitter-from-100-to-previous;
            }
        }
        /* #endregion */
        /* #region Collapse end */
        &.end-collapsing,
        &.end-uncollapsing {
            > .end {
                min-width: 0 !important;
                overflow-x: hidden;
            }
        }
        &.end-collapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) hsplitter-to-100;
            }
        }
        &.end-collapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) hsplitter-to-0;
            }
        }
        &.end-uncollapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) hsplitter-from-100-to-previous;
            }
        }
        &.end-uncollapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) hsplitter-from-0-to-previous;
            }
        }
        /* #endregion */
        /*
         * Both classes below are set, when one of the 'hsplitter-*' animations above has finished.
         */
        &.start-collapsed {
            > .start {
                min-width: var(--splitter-collapsed-start-size) !important;
                width: var(--splitter-collapsed-start-size) !important;
            }
            > .end {
                width: calc(100% - var(--splitter-collapsed-start-size)) !important;
            }
        }
        &.end-collapsed {
            > .start {
                width: calc(100% - var(--splitter-collapsed-end-size)) !important;
            }
            > .end {
                min-width: var(--splitter-collapsed-end-size) !important;
                width: var(--splitter-collapsed-end-size) !important;
            }
        }
        /* #endregion */
    }
    &.vertical {
        flex-direction: column;
        > .handle {
            margin-block-start: var(--splitter-handle-bleed-size-neg);
            margin-block-end: var(--splitter-handle-bleed-size-neg);
            border-block-start: var(--splitter-handle-bleed-border);
            border-block-end: var(--splitter-handle-bleed-border);
            cursor: row-resize;
            > div {
                width: 100%;
                height: var(--splitter-handle-size);
                cursor: row-resize;
            }
        }
        /* #region Collapsing */
        /* #region Collapse start */
        &.start-collapsing > .start,
        &.start-uncollapsing > .start {
            min-height: 0 !important;
            overflow-y: hidden;
        }
        &.start-collapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) vsplitter-to-0;
            }
        }
        &.start-collapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) vsplitter-to-100;
            }
        }
        &.start-uncollapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) vsplitter-from-0-to-previous;
            }
        }
        &.start-uncollapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) vsplitter-from-100-to-previous;
            }
        }
        /* #endregion */
        /* #region Collapse end */
        &.end-collapsing,
        &.end-uncollapsing {
            > .end {
                min-height: 0 !important;
                overflow-y: hidden;
            }
        }
        &.end-collapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) vsplitter-to-100;
            }
        }
        &.end-collapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) vsplitter-to-0;
            }
        }
        &.end-uncollapsing.active-area-start {
            > .start {
                animation: var(--splitter-collapse-animation) vsplitter-from-100-to-previous;
            }
        }
        &.end-uncollapsing.active-area-end {
            > .end {
                animation: var(--splitter-collapse-animation) vsplitter-from-0-to-previous;
            }
        }
        /* #endregion */
        /*
         * Both classes below are set, when one of the 'vsplitter-*' animations above has finished.
         */
        &.start-collapsed {
            > .start {
                /* display: none; */
                min-height: var(--splitter-collapsed-start-size) !important;
                height: var(--splitter-collapsed-start-size) !important;
            }
            > .end {
                height: calc(100% - var(--splitter-collapsed-start-size)) !important;
            }
        }
        &.end-collapsed {
            > .start {
                height: calc(100% - var(--splitter-collapsed-end-size)) !important;
            }
            > .end {
                /* display: none; */
                min-height: var(--splitter-collapsed-end-size) !important;
                height: var(--splitter-collapsed-end-size) !important;
            }
        }
        /* #endregion */
    }
    &.inactive > .handle {
        pointer-events: none;
    }
    &.off > .handle {
        display: none;
    }
    &.resizing {
        /* touch-action: none; */
        /* Workarounds for a problem in WebKit. */
        &.horizontal {
            > .start,
            > .start *,
            > .end,
            > .end * {
                cursor: col-resize !important;
            }
        }
        &.vertical {
            > .start,
            > .start *,
            > .end,
            > .end * {
                cursor: row-resize !important;
            }
        }
    }
}
@keyframes hsplitter-to-0 {
    to {
        width: var(--splitter-collapsed-start-size);
    }
}
@keyframes hsplitter-to-100 {
    to {
        width: calc(100% - var(--splitter-collapsed-end-size));
    }
}
@keyframes hsplitter-from-0-to-previous {
    from {
        width: var(--splitter-collapsed-start-size);
    }
}
@keyframes hsplitter-from-100-to-previous {
    from {
        width: calc(100% - var(--splitter-collapsed-end-size));
    }
}
@keyframes vsplitter-to-0 {
    to {
        height: var(--splitter-collapsed-start-size);
    }
}
@keyframes vsplitter-to-100 {
    to {
        height: calc(100% - var(--splitter-collapsed-end-size));
    }
}
@keyframes vsplitter-from-0-to-previous {
    from {
        height: var(--splitter-collapsed-start-size);
    }
}
@keyframes vsplitter-from-100-to-previous {
    from {
        height: calc(100% - var(--splitter-collapsed-end-size));
    }
}
