.std-dialog {
    > .content {
        display: flex;
        flex-direction: column;
        > .stddlg-title-bar {
            flex-grow: 0;
            flex-shrink: 0;
            /* #region Example settings for the title bar. */
            /* position: relative;
            inset-inline-start: calc(-1 * var(--base-size));
            inset-block-start: calc(-1 * var(--base-size));
            margin-block-end: calc(-1 * var(--base-size));
            width: calc(100% + 2 * var(--base-size));
            padding: var(--base-size-half) var(--base-size);
            background-color: lightgray;
            > p {
                margin: 0;
            } */
            /* #endregion */
        }
        > .stddlg-content {
            flex-grow: 1;
        }
        > .stddlg-btn-bar {
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            padding-block-start: var(--base-size);
            padding-block-end: var(--base-size-quarter);
            > .icon-button {
                flex-grow: 0;
            }
            > .separator {
                flex-grow: 1;
            }
        }
    }
    &.horizontal > .content > .stddlg-btn-bar {
        flex-direction: row;
        > .icon-button:not(:last-child) {
            margin-inline-end: var(--base-size-half);
        }
        > .separator {
            min-width: calc(var(--base-size) + var(--base-size-half));
        }
    }
    &.vertical > .content > .stddlg-btn-bar {
        flex-direction: column;
        align-items: center;
        > .icon-button:not(:last-child) {
            margin-block-end: var(--base-size-half);
        }
        > .separator {
            min-height: calc(var(--base-size) + var(--base-size-half));
        }
    }
    /* Predefined standard dialogs */
    &.confirm,
    &.msg-dlg,
    &.yes-no {
        max-width: 30rem;
        /* > .content {} */
    }
    &.query-input {
        max-width: 85vw;
        > .content {
            > input[type=text] {
                width: 100%;
            }
            > input[type=number] {
                width: 6rem;
            }
            > textarea {
                max-width: 100%;
            }
        }
    }
}
