.app-main {
    flex-grow: 1;
    flex-shrink: 0;
    > .splitter {
        height: 100%;
        > .start {
            width: 18rem;
            background-color: var(--panel-background-color-light);
        }
    }
}
