/.VSCodeCounter/
/attic/
/example/index.js
/example/index.js.map
/example/out/
/example/style/
/lib/
/playground/index.js
/playground/index.js.map
/playground/out/
/playground/style/
/showcase/index.js
/showcase/index.js.map
/showcase/out/
/showcase/style/
/types/
node_modules/
