/* App specific CSS styles. */
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-width: 35rem;
    min-height: 20rem;
    margin: 0;
}
header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
    background: var(--black-5);
}
header {
    padding: var(--base-size);
    border-block-end: var(--1px) solid var(--black-15);
}
footer {
    padding: var(--base-size-half);
    border-block-start: var(--1px) solid var(--black-15);
}
main {
    flex-grow: 1;
    .vts-splitter {
        width: 100%;
        height: 100%;
    }
}
.std-dialog {
    > .content > .stddlg-title-bar > p {
        margin-block-start: 0;
        font-weight: bolder;
    }
}
