.example {
    .example-area {
        .canvas {
            select.selectedcontent-example {
                /* &::picker(select) {
                    appearance: base-select;
                } */
                appearance: base-select;
                display: flex;
                align-items: center;
                inline-size: 10rem;
                selectedcontent {
                    > span:first-child {
                        display: none;
                    }
                }
            }
        }
    }
}
